name: Build

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU for Arm64 containers
      uses: docker/setup-qemu-action@v3

    - uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: Tests
      run: dotnet test -c Release --logger "trx;LogFileName=test-results.trx"
      env:
        DOCKER_DEFAULT_PLATFORM: linux/arm64
      
    # upload test results
    - name: Upload dotnet test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: "**/*.trx"
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}
