name: Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  SQLFLUFF_DIALECT: postgres
  DOCKER_IMAGE: flyway/flyway
  SCHEMAS: public

jobs:
  deploy:
    runs-on: ubuntu-22.04-arm

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # run tests
    - uses: actions/setup-dotnet@v4
      with:
        global-json-file: global.json
    - name: Tests
      run: dotnet test -c Release --logger "trx;LogFileName=test-results.trx"
      
    # upload test results
    - name: Upload dotnet test results
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: "**/*.trx"
      # Use always() to always run this step to publish test results when there are test failures
      if: ${{ always() }}

    # if tests are ok, deploy to production
    - name: Apply migrations to production DB
      run: >-
        docker run --rm
        --volume ${{ github.workspace }}/src/migrations:/flyway/sql:ro
        --volume ${{ github.workspace }}/reports:/flyway/reports
        "${{ env.DOCKER_IMAGE }}"
        -url="${{ secrets.DB_PROD_URL }}"
        -user="${{ secrets.DB_PROD_USERNAME }}"
        -password="${{ secrets.DB_PROD_PASSWORD }}" 
        migrate -schemas="${{ env.SCHEMAS }}"

    - name: Upload Flyway report
      uses: actions/upload-artifact@v4
      with:
        name: Database Report
        path: reports/

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build and push to GHCR
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: ghcr.io/fsharplang-ru/vahter-bot:${{ github.sha }}, ghcr.io/fsharplang-ru/vahter-bot:latest
        file: ./Dockerfile
        platforms: linux/arm64
